DATABASE_URL=postgresql://docker:docker@localhost:5432/integrador

GOOGLE_PROJECT_ID=YOUR_GOOGLE_ID
GOOGLE_CLIENT_KEY=YOUR_CLIENT_ID

GOOGLE_API_JSON={"json": "json"}
GOOGLE_CLIENT_EMAIL=YOUR_EMAIL_ID