DATABASE_URL=postgresql://docker:docker@localhost:5432/integrador

GOOGLE_PROJECT_ID=YOUR_GOOGLE_ID
GOOGLE_CLIENT_KEY=YOUR_CLIENT_ID
GOOGLE_CLIENT_EMAIL=erp-sync@projeto.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"  